/*
  默认部分，请不要修改与删除
  1. 新标签的统一属性
*/

/* 新标签的统一属性 */
pinkx, imgChunk, group, item {
  display: block;
}

.read a:link,
.read a:visited,
.read a:hover {
  color: inherit;
}

/*
  可修改的部分
*/
#pinkx {
  position: relative;
  background-color: #F5F5F5;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  color: #424242;
  left: -132px;
  width: 1024px;
  box-sizing: border-box;
  z-index: 0;
}

#title, #content, #links, #state {
  position: absolute;
  width: 512px;
  right: 0;
  padding: 16px;
  box-sizing: border-box;
}

/* TITLE */

#title {
  text-align: left;
  height: 128px;
}
#title h1, #title h5, #title p {
  position: absolute;
  width: max-content;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.6;
  box-sizing: border-box;
}
#title h1 {
  background-color: #212121;
  color: #FAFAFA;
  font-size: 28px;
  height: 56px;
  line-height: 50px;
  top: 16px;
  left: 16px;
  border-bottom: #E0E5E7 3px solid;
  border-top: #E0E5E7 3px solid;
}
#title h5 {
  background-color: #E0E5E7;
  color: #212121;
  height: 24px;
  top: 72px;
  left: 16px;
  font-weight: 100;
}
#title p {
  background-color: #E0E5E7;
  color: #212121;
  font-weight: 100;
  height: 24px;
  top: 72px;
  right: 12px;
}

/* COVER */

#cover {
  position: relative;
  background-color: #BDBDBD;
  width: 512px;
  height: 748px;
}
#cover .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* CONTENT */

#content {
  top: 120px;
}
#content group {
  position: relative;
  min-height: 77px;
  padding-right: 33px;
  margin-bottom: 24px;
}
#content h3, #links h3 {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: #E0E5E7;
  color: #212121;
  padding: 10px 2px;
  right: 0;
  width: 34px;
  height: 77px;
  box-sizing: border-box;
  font-weight: 100;
}
#content item {
  display: inline-block;
  z-index: 2;
  transition: 300ms;
}
#content item:hover {
  margin-left: -16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: -16px;
  background-color: #424242;
  color: #E0E5E7;
  z-index: 99;
}
#content item:hover .name {
  color: #212121;
  background-color: #FAFAFA;
}
#content item .job {
  font-size: 12px;
  margin-right: 3px;
}
#content item .name {
  color: #FAFAFA;
  background-color: #212121;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  transition: 300ms background-color;
}
#content item .org {
  margin-right: 5px;
}

/* LINKS */
#links {
  bottom: 97px;
  height: 117px;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 27px;
  box-sizing: border-box;
  text-align: left;
}
#links h3 {
  right: 16px;
  letter-spacing: 5px;
}
#links item {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
}
#links item .other {
  font-size: 12px;
  margin-left: 3px;
  color: #757575;
}
#links item:nth-of-type(1):before {
  content: "/";
  position: relative;
  right: 5px;
}
#links item::after {
  content: "/";
  position: relative;
  right: -5px;
}
#links item a {
  position: relative;
}
#links item a:hover::before {
  opacity: 1;
}
#links item a::before {
  content: '';
  position: absolute;
  display: block;
  left: 15%;
  top: 10px;
  width: 70%;
  height: 4px;
  background-color: #757575;
  z-index: -1;
  opacity: 0;
  transition: 500ms opacity;
}
/* state */

#state {
  background-color: #E0E5E7;
  text-align: right;
  bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  height: 97px;
}
#state::before {
  content: "";
  position: absolute;
  top: -577px;
  right: 27px;
  display: block;
  height: 564px;
  width: 1px;
  border-left: #212121 dashed 2px;
  z-index: -2;
}
